# EXERCÍCIO PRÁTICO DE ESTATÍSTICA BÁSICA E DESCRITIVA

# 0 CARREGAMENTO DAS BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib widget

# 1 CARREGAMENTO DOS DADOS

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv'

In [3]:
df = pd.read_csv(url)
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

## 1.1 Separação dos dados contínuos

In [5]:
dfNum = df.select_dtypes(include = 'number')
pd.DataFrame.head(dfNum)

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [12]:
dfNum = df[['Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]']]
pd.DataFrame.head(dfNum)

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
0,298.1,308.6,1551,42.8
1,298.2,308.7,1408,46.3
2,298.1,308.5,1498,49.4
3,298.2,308.6,1433,39.5
4,298.2,308.7,1408,40.0

# 2 ANÁLISE GRÁFICA

In [20]:
# Get column names
colNam = list(dfNum.columns)
colNam[0]

'Air temperature [K]'

## 2.1 Histogramas

In [18]:
# Defina quantos plots por linha e coluna
ncols = 2
nrows = int(np.ceil(len(dfNum.columns) / (1.0*ncols)))
nrows

2

In [21]:
fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(10, 10))

counter = 0
for i in range(nrows):
    for j in range(ncols):

        ax = axes[i][j]

        # Plot when we have data
        if counter < len(dfNum.columns):

            ax.hist(dfNum[dfNum.columns[counter]], bins=10, label='{}'.format(dfNum.columns[counter]))
            ax.set_xlabel(colNam[counter])
            ax.set_ylabel('Frequência')

        # Remove axis when we no longer have data
        else:
            ax.set_axis_off()

        counter += 1

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## 2.2 Box-plots

In [25]:
fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(10, 10))

counter = 0
for i in range(nrows):
    for j in range(ncols):

        ax = axes[i][j]

        # Plot when we have data
        if counter < len(dfNum.columns):

            ax.boxplot(dfNum[dfNum.columns[counter]])
            ax.set_xlabel(colNam[counter])
            ax.set_ylabel('Frequência')

        # Remove axis when we no longer have data
        else:
            ax.set_axis_off()

        counter += 1

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# 3 ANÁLISE DESCRITIVA

In [32]:
desc = dfNum.describe()
desc

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910
std,2.000259,1.483734,179.284096,9.968934
min,295.300000,305.700000,1168.000000,3.800000
25%,298.300000,308.800000,1423.000000,33.200000
50%,300.100000,310.100000,1503.000000,40.100000
75%,301.500000,311.100000,1612.000000,46.800000
max,304.500000,313.800000,2886.000000,76.600000

In [37]:
desc = pd.DataFrame.transpose(desc)
desc

,count,mean,std,min,25%,50%,75%,max
Air temperature [K],10000.0,300.00493,2.000259,295.3,298.3,300.1,301.5,304.5
Process temperature [K],10000.0,310.00556,1.483734,305.7,308.8,310.1,311.1,313.8
Rotational speed [rpm],10000.0,1538.77610,179.284096,1168.0,1423.0,1503.0,1612.0,2886.0
Torque [Nm],10000.0,39.98691,9.968934,3.8,33.2,40.1,46.8,76.6

## 3.1 Range

In [39]:
desc['range'] = desc['max'] - desc['min']
desc

,count,mean,std,min,25%,50%,75%,max,range
Air temperature [K],10000.0,300.00493,2.000259,295.3,298.3,300.1,301.5,304.5,9.2
Process temperature [K],10000.0,310.00556,1.483734,305.7,308.8,310.1,311.1,313.8,8.1
Rotational speed [rpm],10000.0,1538.77610,179.284096,1168.0,1423.0,1503.0,1612.0,2886.0,1718.0
Torque [Nm],10000.0,39.98691,9.968934,3.8,33.2,40.1,46.8,76.6,72.8

## 3.2 Variance

In [42]:
desc['var'] = pow(desc['std'], 2)
desc

,count,mean,std,min,25%,50%,75%,max,range,var
Air temperature [K],10000.0,300.00493,2.000259,295.3,298.3,300.1,301.5,304.5,9.2,4.001035
Process temperature [K],10000.0,310.00556,1.483734,305.7,308.8,310.1,311.1,313.8,8.1,2.201467
Rotational speed [rpm],10000.0,1538.77610,179.284096,1168.0,1423.0,1503.0,1612.0,2886.0,1718.0,32142.787047
Torque [Nm],10000.0,39.98691,9.968934,3.8,33.2,40.1,46.8,76.6,72.8,99.379640

# 4 CORRELAÇÃO

In [43]:
sns.pairplot(dfNum)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [44]:
corrMatPd = dfNum.corr()
corrMatPd

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
Air temperature [K],1.000000,0.876107,0.022670,-0.013778
Process temperature [K],0.876107,1.000000,0.019277,-0.014061
Rotational speed [rpm],0.022670,0.019277,1.000000,-0.875027
Torque [Nm],-0.013778,-0.014061,-0.875027,1.000000